<!-- tasks/task_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ action }} Task</title>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
             {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'task_form_css.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TASK FORM</a>
</nav>

<div class="container">
    <h1>{{ action }} Task</h1>

    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">{{ action }}</button>
    </form>

    <a class="btn btn-secondary" href="{% url 'task_list' %}">Back to Task List</a>
</div>

<!-- Add Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
